:root{
    --gray-color: #F2F0F1;
    --black-color: #000000;
    --light-color: #ffffff;
    --dark-color: #616060;
    --yellow-color:#FFC633;



}
*{
    
    box-sizing: border-box;


}
body{
    background:white;
    height: 100vh;
    width: 1440px;
    margin: 0;
}
header .bar{
    background: #000000;
    width: 1440px;
    height: 38px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .bar h2{
    font-size: 14px;
    font-weight: 400;
    margin: auto;
    color: var(--light-color);
}
header .bar a{
    font-size: 14px;
    font-weight: 500;
    color: var(--light-color);
}
header .bar img{
    margin: 10px 100px 10px 0;
}
header .mobile-nav{
    display: none;
}
header nav{
    width: 1440px;
    height: 48px;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header nav .logo{
    font-family: 'Oswald', sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 38.4px;
    text-align: left;

}
header nav .titles, header nav .vectors{
    display: flex;
    align-items: center;
    gap: 40px;
    list-style: none;
}
header nav .titles li a{
    text-decoration: none;
    font-family: 'poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.6px;
    text-align: left;
    color: var(--dark-color);

}
header nav input{
    width: 577px;
    height: 48px;
    padding: 12px 16px;
    gap: 12px;
    border-radius: 62px;
    border: none;
    background-color: var(--gray-color);
}
header nav input .search-icon::before{
    content: url("../home/home-images/search.svg")
}
/*section*/
section{
    font-family: "Barlow Condensed", sans-serif;
    margin-top: 140px;
    
}
section .hero-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1440px;
    height: 663px;
    background: var(--gray-color);
    padding: 10px;
}
section .hero-section img{
    height: 630px;
    position: relative;
    right: 50px;
    top: 1px;
}
section .hero-section .left h1{
    font-family: 'Oswald', sans-serif;
    font-size: 64px;
    font-weight: 700;
    line-height: 64px;
    text-align: left;

}
section .hero-section .left p{
    margin:0 0 10px 0;
    width: 545px;
    height: 33px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    color: var(--dark-color);
}
section .hero-section .left button{
    background: var(--black-color);
    margin: 30px 0;
    width: 210px;
    height:52px;
    padding: 16px 54px;
    gap: 12px;
    border: none;
    border-radius: 62px;
    color: var(--light-color);
}

section .hero-section .left .categories{
    display: flex;
    justify-content: space-around;
    margin: 30px 0 0 0;
}
section .hero-section .left .categories .num{
    font-family: "Barlow Condensed", sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 54px;
    text-align: left;
    list-style: none;
    color: var(--black-color);
}
section .hero-section .left .categories .desc{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    list-style: none;
    color: var(--dark-color);

}
section .wrapper{
    width: 1440px;
    height: 140px;
    margin-top:-18px ;
    background-color: var(--black-color);
}
section .wrapper .images{
    width: 1440px;
    height: 34px;
}
section .wrapper .images img{
    margin: 50px;
}
section .title{
    color: var(--black-color);
    font-family: 'Oswald', sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 57.6px;
    text-align: center;
    margin-bottom: 15px;

}
section ul{
    list-style: none;
}
section .stars{
    display: flex;
    margin: 0 10px 0 0;

}
section .stars .star{
    color: var(--yellow-color);
}

section .new-arrivals .cards, section .top-selling .cards{
    display: flex;
    align-items: center;
    gap: 1px;
    width: 295px;
    margin-left: 30px;

}
section .new-arrivals .about, section .top-selling .about{
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    text-align: left;
    margin-top: 10;

}
section .new-arrivals .h2, section .top-selling .h2{
    font-family: "Barlow Condensed", sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 43.2px;
    text-align: left;

}
section .new-arrivals .instead, section .top-selling .instead{
    text-decoration: line-through;
    color: #c7c7c7;
    margin: 0 0 0 5px;
}
section .new-arrivals .discount, section .top-selling .discount{
    background: #ffebeb;
    padding: 5px 14px;
    border-radius: 62px;
    font-size: 14px;
    font-weight: 500;
    line-height: 21.6px;
    text-align: left;
    color: #ff4a4a;
    margin: -20px 0 -10px 5px;
}
section .line{
    width: 1240px;
    border: 1px solid var(--gray-color);

}
section .new-arrivals .stars, section .top-selling .stars{
    margin: 0 0 0 -40px;
}
section .new-arrivals .view-all, section .top-selling .view-all{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
    
}
section .new-arrivals .view-all button, section .top-selling .view-all button{
    width: 218px;
    height: 52px;
    padding: 16px 54px;
    border-radius: 62px;
    border: none;
    background: var(--light-color);
    border: 1px solid var(--gray-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 21.6px;
}
section .new-arrivals .cards li{
    text-align: left;
}

section .browser{
    width: 1239px;
    height: 866px;
    border-radius: 40px;
    background: var(--gray-color);
    margin-left: 100px;
}
section .browser .pics{
    width: 1200px;
    margin: 140px auto auto 60px;
    
}
section .browser .pics .one{
    margin-right: 15px;
}

section .browser .pics .three{
    margin-top: 15px;
    margin-right: 15px
}

section .browser .title{
    position: relative;
    top: 80px;
}
section .customers{
    width: 1440px;
    overflow: hidden;
}
section .customers .address{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto 100px;
}
section .customers .address h1{
    font-size: 48px;
    font-weight: 700;
    line-height: 57.6px;
    text-align: left;
}
section .customers .address ul{
    display: flex;
    align-items: center;
    gap: 12px;
}
section .customers .customers-cards{
    width: 1700px;
    display: flex;
    justify-content: space-between;
    height: 400px;
    gap: 20px;
    margin-left: -50px;
    overflow: hidden;
}
section .customers .customers-cards .customer{
    width: 400px;
    height: 240px;
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid var(--gray-color);
    text-align: left;
    
    
    
}

section .customers .customers-cards .customer ul{
    display: flex;
    gap: 5px;
    margin-left: -40px;
    margin-top: -10px;
}
section .customers .customers-cards .customer .user-name{
    font-size: 20px;
    font-weight: 700;
    line-height: 22px;
}
section .customers .customers-cards .customer p{
    font-family: "Barlow Condensed", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;

}


footer .gray-box{
    width:1440px;
    height: 499px;
    background: var(--gray-color);
    z-index: -1;
    font-family:"Barlow Condensed", sans-serif;

}
footer .gray-box ul{
    list-style: none;
}
footer .black-box{
    z-index: 1;
    background: var(--black-color);
    width: 1240px;
    height: 180px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    position: relative;
    top: -80px;
    border-radius: 20px;
}
footer .black-box h1{
    font-size: 50px;
    font-weight: 700;
    line-height: 45px;
    text-align: left;
    width: 551px;
    height: 94px;
    color: var(--light-color);
    margin-left: -30px;
}
footer .black-box .email-subscribe{

    gap: 14px;
    display: grid;
    justify-content: center;
}
footer .black-box .email-subscribe input, footer .black-box .email-subscribe button{
    width: 349px;
    height: 48px;
    padding: 12px 16px;
    gap: 12px;
    border-radius: 62px;
    border: none;
    background: var(--light-color);
}
footer .black-box .email-subscribe input{
    font-size: 16px;
    font-weight: 400;
    line-height: 21.6px;
    text-align: left;
}
footer .black-box .email-subscribe button{
    font-size: 16px;
    font-weight: 500;
    line-height: 21.6px;
    text-align: center;

}
footer .gray-box .footer-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1240px;
    height: 177px;
    top: 2707px;
    left: 100px;
    margin-top: -30px;


}
footer .gray-box .footer-content .left-footer{
    width: 248px;
    height: 177px;
    gap: 35px;
}
footer .gray-box .footer-content .left-footer .same-title{
    font-family: "Oswald",sans-serif;
    font-size: 33.45px;
    font-weight: 700;
    line-height: 40.15px;
    text-align: left;
    margin: 0 0 20px 0;
}
footer .gray-box .footer-content .left-footer .social-media{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px 0 0 -40px;
}
footer .gray-box .footer-content .right-footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
}
footer .gray-box .footer-content .right-footer .cat-title{
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 3px;
    text-align: left;
    margin: 0 0 20px 0;
}
footer .gray-box .footer-content .right-footer .cat, footer .gray-box .footer-content .left-footer p{
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    margin: 0 0 10px 0;
}
footer .gray-box .footer-of-footer{
    width: 1240px;
    display: flex;
    justify-content: space-between;
}
footer .gray-box .footer-of-footer h2{
    width: 269px;
    height: 19px;
    top: 2959px;
    left: 100px;
    font-size: 14px;
    font-weight: 400;
    line-height: 18.9px;
    text-align: right;
    margin: 30px 0 0 35px;
}
footer .gray-box .footer-of-footer .pay{
    display: flex;
    width: 281.07px;
    height: 30.03px;
    top: 2954px;
    left: 1059px;
    gap: 7px;
}
footer .line{
    width: 1240px;
    top: 2934px;
    left: 100px;
    gap: 0px;
    border: 1px solid #c7c7c7;
    margin: auto;
}
/* responsive version*/
@media(max-width: 390px){
    body{
        width: 390px;
    }
    header{
        width: 390px;
    }
    header .bar{
        width: 390px;
        height: 34px;
        display: flex;
        justify-content: center;
    }
    header .bar h2, header .bar a{
        font-family:"Barlow Condensed", sans-serif;
        font-size: 12px;
        font-weight: 400;
        line-height: 16.2px;
    }
    header .bar img{
        display: none;
    }
    header nav{
        display: none;
    }
    
    header .mobile-nav{
        width: 390px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
    }
    header .mobile-nav .menu-logo{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    header .mobile-nav .menu-logo img{
        width: 18.75px;
        height: 14.25px;
        margin-top: 5px;
    }
    header .mobile-nav .menu-logo .logo{
        font-family:"Barlow Condensed", sans-serif;
        font-size: 25.2px;
        line-height: 30.24px;
        margin-left: 5px;
    }
    header .mobile-nav .rest ul{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        list-style: none;
    }
    header .mobile-nav .rest ul img{
        width: 18px;
        height: 18px;
    }
    section{
        margin-top: 10px;
    }
    section .hero-section{
        display: grid;
        grid-template-columns: 1fr;
        width: 390px;
        height: 853px;
        padding: 0 10px;
    }
    section .hero-section .left h1{
        font-size: 36px;
        line-height: 34px;
        text-align: left;
    }
    section .hero-section .left p{
        margin: 10px;
        width: 336px;
        height: 50px;
        font-size: 12px;
        line-height: 20px;
    }
    section .hero-section .left button{
        width: 340px;
        height: 52px;
        margin-left: 2px;
    }
    section .hero-section .left .categories{
        display: grid;
        grid-template-columns:  1fr 1fr;
        margin: -20px 0 0 0;
        width: 278px;
    }
    section .hero-section .left .categories .num{
        font-size: 24px;
        line-height: 32.4px;
    }
    section .hero-section .left .categories .desc{
        font-size: 8px;
        line-height: 10px;
    
    }
    section .hero-section .left .categories .special{
        margin-left: 80px;
    }
    section .hero-section img{
        width: 380px;
        height: 448px;
        margin-top: -45px;
        margin-left: 20px;
    }
    
    
    section .wrapper{
        width: 390px;
        height: 146px;
        position: relative;
        top: 0px;
    }
    section .wrapper .images{
        width: 390px;
        height: 34px;
    }
    section .wrapper .images img{
        width: 90px;
        height: 23.25px;
        margin: 10px 40px 10px 50px ;
    }
    
    section .wrapper ul li{
        list-style: none;
        margin: 50px 100px 50px 0;
    }
    section .title{
        font-size: 40px;
        font-weight: 700;
        line-height: 38.4px;
        margin-left: -10px;
    
    }
    section .stars{
        margin: 0 5px 0 0;
    
    }
    section .stars .star{
        color: var(--yellow-color);
    }
    section .new-arrivals img, section .top-selling img{
        width: 198px;
        height: 200.01px;

    }
    section .new-arrivals, section .top-selling{
        overflow: hidden;
    }

    section .new-arrivals .cards, section .top-selling .cards{
        width: 198px;
        padding: 2px;
        margin-left: -20px;
        gap: 1px;
    
    }
    section .new-arrivals .about, section .top-selling .about{
        font-size: 13px;
        line-height: 21.6px;  
    }
    section .new-arrivals .h2, section .top-selling .h2{
        font-size: 17px;
        font-weight: 500;
        line-height: 20px;    
    }
    section .new-arrivals .discount, section .top-selling .discount{

        font-size: 10px;
        line-height: 13px;
        width: 42px;
        height: 20px;
        padding: 4px 10px;
    
    }
    section .line, footer .line{
        width: 358px;
    }
    section .new-arrivals .stars, section .top-selling .stars{
        font-size: 10px;
        margin: 0 0 0 -40px;
    }
    section .new-arrivals .view-all, section .top-selling .view-all{
        margin-bottom: 25px;
    }
    section .new-arrivals .view-all button, section .top-selling .view-all button{
        width: 358px;
        height: 46px;
        padding: 14px 54px;
        border-radius: 62px;
    }
    section .new-arrivals .cards li{
        text-align: left;
    }
    section .browser{
        width: 340px;
        height: 925px;
        border-radius: 20px;
        margin: 5px 5px 5px 25px;

    }
    section .browser .pics{
        display: grid;
        grid-template-columns: 1fr;
        gap: 15px;
        margin: 70px 25px 10px 25px;
        
    }
    section .browser .title{  
        position: relative;
        top: 40px;
        left: 50px;
        font-size: 40px;
        font-weight: 700;
        line-height: 36px;
        width: 246px;
        height: 72px;
        text-align: center;


    }
    section .browser .pics img{
        width: 290px;
        height: 170px;
        border-radius: 20px;

    }
    section .browser .pics .one{
        margin-right: 0;
    }
    
    section .browser .pics .three{
        margin-top: 0;
        margin-right: 0;
    }
    section .customers{
        width: 390px;
    }
    section .customers .address{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-left: 5px;
        margin-right: 10px;
    }
    section .customers .address h1{
        font-size: 32px;
        font-weight: 700;
        line-height: 36px;
        margin-left: 10px;
    }
    section .customers .address ul img{
        margin-top: 30px;
        width: 24px;
        height: 20px;
    }


    section .customers .customers-cards{
    width: 1700px;
    display: flex;
    justify-content: space-between;
    height: 400px;
    gap: 20px;
    margin-left: 40px;
    }
    section .customers .customers-cards .customer{
    width: 358px;
    height: 186.19px;
    padding: 24;
    border-radius: 20px;
    
    
}
    section .customers .customers-cards .customer .star{
        font-size: 18px;
        margin:0;
    }

    section .customers .customers-cards .customer .user-name{
        font-size: 16px;
    }
    section .customers .customers-cards .customer p{
        margin-top: -10px;

    }
    
    
    footer .gray-box{
        width:390px;
        height: 864px;
    
    }
    footer .gray-box ul{
        list-style: none;
    }
    footer .black-box{
        width: 358px;
        height: 293px;
        display: flex;
        flex-direction: column;
        top: -120px;
        border-radius: 20px;
    }
    footer .black-box h1{
        font-size: 45px;
        font-weight: 700;
        line-height: 38px;
        text-align: left;
        width: 297px;
        margin-left: 5px;
        margin-bottom: 15px;
    }
    footer .black-box .email-subscribe{
        gap: 14px;
        display: grid;
        justify-content: center;

    }
    footer .black-box .email-subscribe input, footer .black-box .email-subscribe button{
        width: 311px;
        height: 42px;
        margin-right: 40px;
    }
    footer .black-box .email-subscribe input{
        font-size: 14px;
        line-height: 18.5px;
    }
    footer .black-box .email-subscribe button{
        font-size: 14px;
        line-height: 18.9px; 
    }
    footer .gray-box .footer-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 358px;
        height: auto;
        margin-bottom: 20px;
        margin-top: -50px;
        padding: 0 30px 0 0;
    
    
    }
    footer .gray-box .footer-content .left-footer{
        width: 248px;
        height: 146px;
        gap: 35px;
    }
    footer .gray-box .footer-content .left-footer .same-title{
        font-size: 28.85px;
        line-height: 34.62px;

    }
    footer .gray-box .footer-content .left-footer .social-media{
        margin: 0 0 30px -40px;
    }
    footer .gray-box .footer-content .left-footer .social-media img{
        width: 20px;
        height: 20px;
    }
    footer .gray-box .footer-content .right-footer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }
    footer .gray-box .footer-content .right-footer .cat-title{
        font-size: 14px;
    }

    footer .gray-box .footer-of-footer{
        width: 1240px;
        display: flex;
        flex-direction: column;
    }
    footer .gray-box .footer-of-footer h2{
        font-size: 14px;
        font-weight: 400;
        line-height: 18.9px;
        text-align: right;
        margin: 10px 0 0 30px;
    }
    footer .gray-box .footer-of-footer .pay{
        display: flex;
        gap: 4px;
        margin-left: 10px;
    }
    footer .gray-box .footer-of-footer .pay{
        width: 39.96px;
    height: 25.74px;
    padding: 8.52px 6.14px 8.22px 5.92px;
    border-radius: 4.61px;
    }





}